<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  streeft ernaar om onderzoekers hun werk gedaan te kunnen krijgen in minder 
  tijd en met minder pijn door hun te onderwijzen in basis programmeervaardigheden 
  voor onderzoek. Deelnemers zullen aangemoedigd worden om elkaar te helpen 
  en wat zij hebben geleerd toe te passen op eigen onderzoeksproblemen.
</p>
<p align="center">
  <em>
    Voor meer informatie over wat wij onderwijzen en waarom, bekijk onze paper 
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
